@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Exo:wght@100&display=swap');


/* Defines color variables for light theme */
.light {
  --mainColor: #F57500;
  --hoverColor: #fb9c45;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
}

/* Defines color variables for dark theme */
.dark {
  --mainColor: #F57500;
  --hoverColor: #fb9c45;
  --backgroundColor: #192e3a;
  --darkOne: #f3f3f3;
  --darkTwo: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.chara
/* body {
  font-family: 'Bangers', sans-serif;
  display: flex;
} */

body, .big-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* At least full viewport height */
}


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* Defines styling for main div container for home page */
.big-wrapper {
  position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Defines styling for container that holds main text and large hero image */
.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  align-items: center;
  justify-content: center
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

/* Defines styling for main text */
.big-title {
  font-size: 1.4rem;
  color: var(--darkOne);
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
  color: var(--lightOne);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.showcase-area .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
  width: 123%;
  transform: translate(15%, 25px);
}

/* Define styling for theme-switch button */
.toggle-btn {
  display: inline-block;
  border: none;
  background: var(--darkTwo);
  color: var(--backgroundColor);
  outline: none;
  cursor: pointer;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  font-size: 1.1rem;
  transition: 0.3s;
  left: 20px;
  bottom: 20px; 
}

.toggle-btn i {
  line-height: 39px;
}

.big-wrapper.light .toggle-btn i:last-child {
  display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
  display: none;
}

/* Defines styling for subtle picture */
.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -60px;
  top: 350px;
  opacity: 0.1;
}

/* Accessed to copy same styling when switching themes */
.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

/*
Defines animation for theme switch 
*/
@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 870px) {
  .showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  .big-title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person {
    width: 100%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .shape {
    bottom: -180px;
    left: -150px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }
}

/* 
Music Control Styling
*/
.audio-controls {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 1000;
}

.play-button {
  width: 40px;
  cursor: pointer;
}

.play-button:hover {
  opacity: 0.8;
}


/* 
Volume Control Styling
*/
.volume-control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.volume-bar {
  width: 5px;
  height: 40px;
  margin: 0 2px;
  background-color: lightgray;
  transition: width 0.3s, background-color 0.3s;
}

.volume-bar:hover {
  width: 10px;
}

.volume-bar.active {
  background-color: #333;
}

.characterName{
  font-size: x-large;
}
.no-bookmarks {
  font-size: 2em;
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}


.bookmark-slots {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 3em auto 0 auto; 
}

.bookmark-slot {
  width: 30px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid #aaa;
  background-color: #f4f4f4;
}

.empty-bookmarks-message {
  font-size: 50px; 
  text-align: center; 
  margin: 100px 0; 
}

.bookmark-count {
  position: fixed; /* Fixed position relative to the viewport */
  right: 20px; /* 20px from the right */
  bottom: 20px; /* 20px from the bottom */
}

.bookmarks-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Creates three columns */
  grid-gap: 5px; /* Space between grid items */
  justify-content: center;
  padding-left: 100px;
}

.bookmarks-title{
  text-align: center;
  margin-left: 100px; 
  margin-bottom: 20px;
}

.bookmark {
  border: 1px solid #ccc; 
  padding: 10px;
  margin-bottom: 10px; 
  background-color: #f2f2f2;
  background-color: #f2f2f2;
  width: 325px; /* Adjust the width of the tile */
  height: auto; /* Height will adjust based on content */
  align-items: center; /* Align children horizontally in the center */
  justify-content: center; /* Align children vertically in the center */
  text-align: center;
}

.remove-bookmark-button{
  background-color: #ff4d4d; /* Background color for the button */
  color: #fff; /* Text color for the button */
  border: none; /* Remove the button border */
  padding: 10px 20px; /* Add more padding to the button */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  border-radius: 7px;
}

.remove-bookmark-button:hover {
  background-color: #e60000;
}