@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Exo:wght@100&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bangers', sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* Defines styling for container that holds main text and large hero image */
.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}


.links a:hover {
    color: var(--hoverColor);
    transform: scale(1.05);
  }
  
  .links a:hover::after {
    width: 100%;
  }
  