<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analytics</title>

    <!-- Accesses CSS files-->
    <link rel="stylesheet" href="/assets/css/analytics.css" />
    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>

<body>
    <main>
        <div class="big-wrapper light">

            <!-- Accesses navigation bar -->
            <header>
                <div class="container">
                    <%- include('partials/navbar') %>
                </div>
            </header>

            <!-- Unique Content for Analytics -->
            <div class="showcase-area">
                <div class="container">
                    <div class="chart-container" style="position: relative; height:30vh; width:80vw; margin-bottom: 2rem;">
                        <canvas id="highestLowestRatedCharactersChart"></canvas>
                    </div>
                    <div class="chart-container" style="position: relative; height:30vh; width:80vw; margin-bottom: 2rem;">
                        <canvas id="topRatedCharactersChart"></canvas>
                    </div>
                    <div class="chart-container" style="position: relative; height:30vh; width:80vw; margin-bottom: 2rem;">
                        <canvas id="userActivityChart"></canvas>
                    </div>
                    <div class="chart-container" style="position: relative; height:30vh; width:80vw; margin-bottom: 2rem;">
                        <canvas id="userUpvotesChart"></canvas>
                    </div>                    
                </div>
            </div>

            <!-- Music Play/Pause Control and Volume Bar -->
            <div class="audio-controls">
                <img src="/assets/images/play.png" alt="Play Music Button" class="play-button" />
                <div class="volume-control">
                  <div class="volume-bar" data-level="0"></div>
                  <div class="volume-bar" data-level="1"></div>
                  <div class="volume-bar" data-level="2"></div>
                  <div class="volume-bar" data-level="3"></div>
                  <div class="volume-bar" data-level="4"></div>
                  <div class="volume-bar" data-level="5"></div>
                  <div class="volume-bar" data-level="6"></div>
                  <div class="volume-bar" data-level="7"></div>
                  <div class="volume-bar" data-level="8"></div>
                  <div class="volume-bar" data-level="9"></div>
                </div>
            </div>
            <audio id="storyPageSong" loop>
                <source src="/assets/audio/marvelOpening.mp3" type="audio/mp3" />
            </audio>

            <!-- Theme Change Button -->
            <div class="bottom-area">
                <div class="container">
                    <button class="toggle-btn">
                        <i class="far fa-moon"></i>
                        <i class="far fa-sun"></i>
                    </button>
                </div>
            </div>

        </div>
    </main>

    <!-- Access Javascript Code -->
    <script>
        const userID = '<%= user.id %>';
      </script>
      

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="/assets/js/themeToggler.js"></script>
    <script src="/assets/js/audioControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/assets/js/analytics.js"></script>
</body>

</html>
