<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/auth.css" />
    <title>Sign in / Sign up Page</title>
  </head>
  <body>


    <div class="container">

      <div class="forms-container">
        <div class="signin-signup">
          <!-- Sign In Form -->
          <form action="/handleLogin" method="POST" class="sign-in-form" id="signInForm">
            <h2 class="title">Sign In</h2>
            <div class="user-box">
                <input type="text" name="username" required="">
                <label for="username">Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label for="password">Password</label>
            </div>

            <div class="btn-container">
              <a href="#" class="action-btn" onclick="document.getElementById('signInForm').submit();">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
              </a>
              <a href="/auth/google" class="google-btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Google Login
              </a>
            </div>
            <img src="/assets/images/authContent/penguin.webp" alt="Penguin" class="penguin-image">

          </form>

          <!-- Sign Up Form -->
          <form action="/handleSignup" method="POST" class="sign-up-form" id="signUpForm">
            <img src="/assets/images/authContent/batman.webp" alt="Batman" class="batman-image">
            <h2 class="title">Sign up</h2>

            <div class="user-box">
              <input type="text" name="username" required="">
              <label for="username">Username</label>
          </div>
            <div class="user-box">
                <input type="email" name="email" required="">
                <label for="email">Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label for="password">Password</label>
            </div>
          <div class="btn-container">
            <a href="#" class="action-btn" onclick="document.getElementById('signUpForm').submit();">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Sign Up
            </a>
            <a href="/auth/google" class="google-btn">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Google Sign Up
            </a>            
          </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <img src="/assets/images/authContent/cat.gif" alt="Cat" class="cat-image">
            <h3>New here?</h3>
            <p>
              Join our community and start your journey with us here at Hero Hub!
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Already have an account?</h3>
            <p>
              Come right back in then!
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
            <img src="/assets/images/authContent/face.gif" alt="Face" class="face-image">
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/auth.js"></script>
  </body>
</html>