<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>
<body>
    <h1>Character Bookmarks</h1>

    <header>
        <div class="container">
          <%- include('partials/navbar') %>
        </div>
      </header>
</body>
</html>