<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Hub Home Page</title>
    
    <!-- Accesses CSS files-->
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link rel="stylesheet" href="/assets/css/navbar.css">
  </head>

  <body>
    <main>
      <div class="big-wrapper light">
        <img src="/assets/images/spiderman.png" alt="" class="shape" />

        <!-- Accesses navigation bar -->
        <header>
          <div class="container">
            <%- include('partials/navbar', { user: user || null }) %>

          </div>
        </header>

        <!-- Displays main text on screen -->
        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1 data-text="Welcome to Hero Hub">Welcome to Hero Hub</h1>
                <h1 data-text="Your own Marvel Universe Portal">Your own Marvel Universe Portal</h1>
              </div>
              
              <p class="text">
                Dive into the extensive world of Marvel heroes, explore their stories, and uncover hidden secrets. All your favorite characters and narratives, in one centralized hub.
              </p>
              <div class="cta">
                <a href="#" class="btn">Get started</a>
              </div>
            </div>

            <div class="right">
              <img src="/assets/images/ironman.png" alt="Hero Image" class="hero" />
            </div>
          </div>
        </div>
        
        <!-- Music Play/Pause Control and Volume Bar -->
        <div class="audio-controls">
          <img src="/assets/images/play.png" alt="Play Music Button" class="play-button" />
          <div class="volume-control">
            <div class="volume-bar" data-level="0"></div>
            <div class="volume-bar" data-level="1"></div>
            <div class="volume-bar" data-level="2"></div>
            <div class="volume-bar" data-level="3"></div>
            <div class="volume-bar" data-level="4"></div>
            <div class="volume-bar" data-level="5"></div>
            <div class="volume-bar" data-level="6"></div>
            <div class="volume-bar" data-level="7"></div>
            <div class="volume-bar" data-level="8"></div>
            <div class="volume-bar" data-level="9"></div>
          </div>
      </div>
      <audio id="homePageSong1" loop>
          <source src="/assets/audio/marvelOpening.mp3" type="audio/mp3" />
      </audio>

        <!-- Theme Change Button -->
        <div class="bottom-area">
            <div class="container">
              <button class="toggle-btn">
                <i class="far fa-moon"></i>
                <i class="far fa-sun"></i>
              </button>
            </div>
        </div>

      </div>
    </main>

    <!-- Access Javascript Code -->
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="/assets/js/audioControls.js"></script>
    <script src="/assets/js/themeToggler.js"></script>    
  </body>
</html>
