<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Character Bookmarks</title>

    <!-- Accesses CSS files-->
    <link rel="stylesheet" href="/assets/css/characterBookmarks.css" />
    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>

<style>
  
    fieldset {
            /* border: none; */
            border-color: #F57500;
            border-radius: 10px;
            margin: 20pt;
            /* padding: 10pt; */
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; /* Optional: Adjust spacing between fieldsets */
            width: 350px; /* Set the desired width for the fieldset */
            height: 100px;
    }

    #unique-heading {
        font-size: 40px; /* Set the desired font size */
        color: #F57500; 
        margin: auto;
    }   
    
    
   
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  #intro {
    font-size: 45px; /* Set the desired font size */
    color: red; /* Set the desired text color */
    text-align: center; /* Center the text horizontally */
    margin-top: 20px; /* Adjust the top margin to center vertically */
  }



</style>
<body>
    <main>
        <div class="big-wrapper light">

            <!-- Accesses navigation bar -->
            <header>
                <div class="container">
                    <%- include('partials/navbar') %>
                </div>
            </header>
            <p id="intro"> Take our quizzes to see how you fit into the Marvel Universe!</p>
            <!-- Unique Content for Story of the Day -->
                <div class="container">
                    
                    <div class="left">
                        <fieldset>
                        <a id="unique-heading" href="http://localhost:4000/superhero_quiz">Super Hero Quiz </a> 
                        </fieldset> 
                    </div>
                    <div class="left">
                        <fieldset>
                        <a id="unique-heading" href="http://localhost:4000/superpower_quiz">Super Power Quiz</a> 
                        </fieldset> 
                    </div>
                    <div class="left">
                        <fieldset>
                        <a id="unique-heading" href="http://localhost:4000/team_quiz"> Team Quiz</a>
                        </fieldset>
                    </div>                           
                </div>
            

    </div>
            <!-- Music Play/Pause Control and Volume Bar -->
            <div class="audio-controls">
                <img src="/assets/images/play.png" alt="Play Music Button" class="play-button" />
                <div class="volume-control">
                  <div class="volume-bar" data-level="0"></div>
                  <div class="volume-bar" data-level="1"></div>
                  <div class="volume-bar" data-level="2"></div>
                  <div class="volume-bar" data-level="3"></div>
                  <div class="volume-bar" data-level="4"></div>
                  <div class="volume-bar" data-level="5"></div>
                  <div class="volume-bar" data-level="6"></div>
                  <div class="volume-bar" data-level="7"></div>
                  <div class="volume-bar" data-level="8"></div>
                  <div class="volume-bar" data-level="9"></div>
                </div>
            </div>
            <audio id="storyPageSong" loop>
                <source src="/assets/audio/marvelOpening.mp3" type="audio/mp3" />
            </audio>

            <!-- Theme Change Button -->
            <div class="bottom-area">
                <div class="container">
                    <button class="toggle-btn">
                        <i class="far fa-moon"></i>
                        <i class="far fa-sun"></i>
                    </button>
                </div>
            </div>

        </div>
    </main>

    <!-- Access Javascript Code -->
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="/assets/js/themeToggler.js"></script>
    <script src="/assets/js/audioControls.js"></script>
    <script src="/assets/js/quizzes.js"></script>
</body>


</html>
