<div class="logo">
    <h3>Hero Hub</h3>
  </div>
  <div class="links">
    <ul>
      <li><a href="/CharacterEncyclopedia">Character Encyclopedia</a></li>
      <li><a href="/HeroMetrics">Hero Metrics</a></li>
      <li><a href="/StoryOfTheDay">Story of the Day</a></li>
      <li><a href="/CharacterBookmarks">Character Bookmarks</a></li>
      <li><a href="#" class="btn">Register</a></li>
    </ul>
  </div>
  <div class="overlay"></div>
  <div class="hamburger-menu">
    <div class="bar"></div>
  </div>
  