<div class="navbar">
  <!--Main Logo Text -->
  <div class="logo">
    <a href="/Home"><h3>Hero Hub</h3></a>
  </div>

  <!-- Navigation Bar Links -->
  <div class="links">
    <ul>
      <li><a href="/CharacterEncyclopedia">Character Encyclopedia</a></li>
      <li><a href="/Test">Test</a></li>
      <li><a href="/HeroMetrics">Hero Metrics</a></li>
      <li><a href="/StoryOfTheDay">Story of the Day</a></li>
      <li><a href="/CharacterBookmarks">Character Bookmarks</a></li>
      <li><a href="/Auth" class="btn">Register</a></li>
    </ul>
  </div>
  <div class="overlay"></div>

  <!-- Hamburger Menu to accomodate smaller screen sizes -->
  <div class="hamburger-menu">
    <div class="bar"></div>
  </div>
</div>
